.main-body {
    padding: 0;
    margin: 0;
}

.base {
    text-align: center;
    align-content: center;
    width: 100%;
}

.body-base {
    display: inline-block;
    text-align: center;
    align-self: center;
    width: 100%;
    max-width: 10.5in;
    min-height: 100vh;
    padding: 0mm;
    /*background-color: #aadbd3;*/
}

.body {
    display: inline-block;
    font-size: 13pt;
    width: 80%;
    max-width: 8.5in;
    text-align: left;
    background-color: #cfcfcf;
    padding: 5mm;
    box-shadow: 0 0 3px #1f1d1d;
    border-radius: 1mm;
    margin: 2.5mm;
}

.module-title {
    font-size: 18pt;
    width: auto;
    text-align: left;
    background-color: #F1F1F1;
    padding: 2mm;
}

.nav-panel {
    display: inline-block;
    width: 100%;
    height: 1.5cm;
    border-width: 0;
    background-color: #cfcfcf;
    padding-top: 5mm;
    padding-bottom: 5mm;
    box-shadow: 0 0 3px #000000;
    margin-top: 0;
}

.nav-button {
    height: 80%;
    min-width: 10em;
    font-size: 15pt;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4pt;
    margin-right: 4pt;
    border-radius: 2pt;
    padding: 2pt;
    text-align: center;
    background-color: #F1F1F1;
}

.nav-button:hover {
    box-shadow: 0 0 3px #1f1d1d;
}

.nav-button.right {
    float: right;
}

.nav-button.left {
    float: left;
}

.nav-button label {
    margin-top: 2pt;
}

.left-item {
    display: inline-block;
    float: left;
    margin-left: 5mm;
}
.right-item {
    display: inline-block;
    float: right;
    margin-right: 5mm;
}


.bingo-container {
    display: grid;
    padding: 0mm;
    grid-gap: 1px;
    grid-column-gap: 1px;
    align-items: center;
    margin: 0 auto;
}

.bingo-card-item {
    height: 3cm;
    min-width: 2.75cm;
    background-color: #F1F1F1;
    border: #000000;
    border-width: 10px;
    text-align: center;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6cm, 1fr));
    padding: 0mm;
    grid-gap: 5mm;
    grid-column-gap: 5mm;
    align-items: center;
    margin: 0 auto;
}

.index-container a {
    text-decoration: none;
}

.index-item {
    height: 4cm;
    min-width: 5cm;
    padding: 5mm;
    background-color: #F1F1F1;
    text-align: center;
}
.index-item h3 {
    margin-top: 0.2em;
    color: #000000;
}

.index-item hr {
    height: 0.1em;
}

.index-item:hover {
    box-shadow: 0 0 3px #1f1d1d;
}

.index-item.disabled {
    background-color: #d4a999;
}

.index-item.invisible {
    background-color: #e7e7e7;
}

.index-item.disabled h3 {
    color: #704535;
}
.index-item.invisible h3 {
    color: #afafaf;
}

.participant-post {
    padding: 5mm;
    background-color: #F1F1F1;
    border-left: 2px solid #8a8a8a;
}

.participant-post:hover {
    border-left: 6px solid #8a8a8a;
}

.participant-post-button {
    font-style: italic;
    font-size: 13pt;
    color: #6a6a6a;
    margin-right: 5mm;
}

.participant-post-button:hover {
    font-weight: bolder;
    cursor: default;
}

.participant-post-footer {
    float: left;
    font-style: italic;
    font-size: 13pt;
    color: #6a6a6a;
}

.participant-post-footer:hover {
    font-weight: bolder;
    cursor: default;
}

.participant-post-info {
    float: right;
    font-style: italic;
    font-size: 13pt;
    color: #6a6a6a;
    margin-bottom: 10mm;
    cursor: default;
}