html * {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.main-body {
    padding: 0;
    margin: 0;
}

.base {
    text-align: center;
    align-content: center;
    width: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.body-base {
    display: inline-block;
    text-align: center;
    align-self: center;
    width: 100%;
    max-width: 10.5in;
    min-height: 100vh;
    padding: 0;
}

.body {
    display: inline-block;
    font-size: 13pt;
    width: 80%;
    max-width: 8.5in;
    text-align: left;
    background-color: #cfcfcf;
    padding: 20px;
    box-shadow: 0 0 3px #1f1d1d;
    border-radius: 20px;
    margin: 2.5mm;
}

.module-title {
    font-size: 18pt;
    width: auto;
    text-align: left;
    background-color: #F1F1F1;
    padding: 2mm;
    border-radius: 5px;
}

.nav-panel {
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 0;
    border-width: 0;
    background-color: #cfcfcf;
    box-shadow: 0 0 3px #000000;
}

.nav-button {
    height: 48px;
    width: 50%;
    max-width: 200px;
    font-size: 15pt;
    margin: 6px;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
    text-align: center;
    background-color: #F1F1F1;
}

.nav-button:hover {
    box-shadow: 0 0 3px #1f1d1d;
}

.nav-button.right {
    float: right;
}

.nav-button.left {
    float: left;
}

.bingo-container {
    display: grid;
    padding: 0;
    grid-gap: 1px;
    grid-column-gap: 1px;
    align-items: center;
    margin: 0 auto;
}

.bingo-card-item {
    height: 3cm;
    min-width: 2.75cm;
    background-color: #F1F1F1;
    border: #000000;
    border-width: 10px;
    text-align: center;
}

.index-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
    grid-gap: 20px;
    grid-column-gap: 20px;
    align-items: center;
    margin: 0 auto;
}

.index-container a {
    text-decoration: none;
}

.index-item {
    height: 180px;
    min-width: 260px;
    padding: 20px;
    background-color: #F1F1F1;
    text-align: center;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
}
.index-item h3 {
    margin-top: 0.2em;
    color: #000000;
}

.index-item hr {
    height: 5px;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
}

.index-item:hover {
    box-shadow: 0 0 3px #1f1d1d;
}

.index-item.disabled {
    background-color: #d4a999;
}

.index-item.invisible {
    background-color: #e7e7e7;
}

.index-item.disabled h3 {
    color: #704535;
}
.index-item.invisible h3 {
    color: #afafaf;
}

.participant-post {
    padding: 20px;
    background-color: #F1F1F1;
    border-left: 2px solid #8a8a8a;
    border-radius: 5px;
}

.participant-post:hover {
    border-left: 6px solid #8a8a8a;
    padding-left: 16px;
}

.participant-post-footer {
    float: left;
    font-style: italic;
    font-size: 13pt;
    color: #6a6a6a;
    margin-right: 10px;
}

.participant-post-footer.button:hover {
    font-weight: bolder;
    cursor: default;
}

.participant-post-info {
    float: right;
    font-style: italic;
    font-size: 13pt;
    color: #6a6a6a;
    cursor: default;
}

.webre-button {
    margin-top: 20px;
    font-size: 13pt;
    height: 30px;
    border: 1px solid #8a8a8a;
    border-radius: 5px;
}

.webre-button:hover {
    box-shadow: 0 0 3px #1f1d1d;
}