WEBRE_IN_PRODUCTION=False
WEBRE_SECRET_KEY=set_this_to_something_long_and_secret_read_the_docs
WEBRE_ALLOWED_HOSTS=domains.that.point.here.read.the.docs
WEBRE_POSTGRES_SERVICE=name_of_postgres_service
WEBRE_STATIC_ROOM=/path/to/webserver/static/root
WEBRE_ALLOWED_HOSTS=https://the.actual.fqdn.and.protocol.of.your.server
GUNICORN_BIND_ADDRESS=0.0.0.0:8000
GUNICORN_PID_LOG_PREFIX=dev