{% extends "classroom/base.html" %}
{% load classroom_extras %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMUU Classroom: {{ module.title }}</title>
</head>
{% endblock %}

{% block main %}
    <style>
    .main-body {
        background-color: {{ background_color }};
    }
    </style>

    <div class="body-base">
        <div class="body">
            <div class="module-title">{{ module.title}}</div>
            {{ body|safe }}
        </div><br>
        {% if bingocard %}
            {% include "classroom/bingocard.html" with card=bingocard card_items=bingocard_items%}
        {% endif %}
        {% for topic in topics %}
            {% topic topic=topic request=request %}
        {% endfor %}

        <div class="body page-button-panel" hx-boost="true">
            {% if not current_page == first_page %} <a href="{% url 'module' module=module.pk page=prev_page %}"><button class="nav-button square left">
            {% else %} <a><button class="nav-button square left" disabled>
            {% endif %} <i class="fa-solid fa-arrow-left"></i></button></a>
            <div class="page-buttons">
                {% for page in pages %}
                    <a href="{% url 'module' module=module.pk page=page  %}"><button class="nav-button square center {% if page == current_page %}selected{% endif %}">{{ page }}</button></a>
                {% endfor %}
            </div>
            {% if not current_page == last_page %} <a href="{% url 'module' module=module.pk page=next_page %}"><button class="nav-button square right">
            {% else %} <a><button class="nav-button square right" disabled>
            {% endif %} <i class="fa-solid fa-arrow-right"></i></button></a>
        </div>
    </div>
{% endblock %}
<br>