<div id="participant-post" class="participant-post">
    <h4>{{ post.title }}</h4>
    {{ post.body_markdown_short|safe }}...<br>
    <span class="participant-post-button" hx-get="/posts/{{ post.pk }}" hx-target="closest #participant-post" hx-swap="outerHTML">Show More</span>
    {% if editable %} <span class="participant-post-button" hx-post="/posts/edit/post/{{ post.pk }}" hx-trigger="click" hx-target="closest #participant-post" hx-swap="outerHTML">Edit</span> {% endif %}
    {% if replies_enabled %} <span class="participant-post-button" hx-get="/posts/reply/{{ post.pk }}/new" hx-swap="outerHTML">Reply</span> {% endif %}
    <span class="participant-post-info">Posted on {{ post.date }} by {{ post.owner }} -- {{ post.replies.count }} replies</span>
    <br style="clear: all">
</div>
