{% extends "classroom/base.html" %}

{% block head %}
<head>
    <meta charset="UTF-8">
    <title>IMUU Classroom: {{ topic.title }}</title>
</head>
{% endblock %}

{% block main %}
    <style>
    .main-body {
        background-color: {{ topic.accent_color }};
    }
    </style>
    <div class="body-base">
        <div class="body">
            <div class="module-title">{{ topic.title }}</div>
            {{ topic.body_markdown|safe }}
            {% if no_own_post %}
                <div hx-get="/posts/edit/{{ topic.pk }}" hx-swap="outerHTML" id="new-post" class="participant-post">
                    <a><h3>Share Your Thoughts...</h3></a>
                </div>
                <hr>
            {% endif %}
            {% for post in posts %}
                {% include "classroom/participant-post-short.html" with post=post %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
