<div class="body" id="body">
    {% if topic.show_title %}<div class="module-title">{{ topic.title }}</div>{% endif %}
    {{ topic.body_markdown|safe }}
    {% if topic.participant_posts_allowed %}
    {% if post %}
        {% include 'classroom/participant-post-short.html' with post=post %}
    {% else %} <!--TODO: Don't show this form until the user click on "Share Your Thoughts" or something. Also allow cancelling.-->
        <div hx-get="/posts/edit/{{ topic.pk }}" hx-swap="outerHTML" id="new-post" class="participant-post">
            <a><h3>Share Your Thoughts...</h3></a>
        </div>
    {% endif %}
        <a href="/topic/{{ topic.pk }}">See All Posts ({{ post_count }})</a>
    {% endif %}
</div>
